.nav-container{
    background-color: var(--dark);
    width: 300px;
    height: 100vh;
    position: relative;
    color: var(--light);
    transition: 0.5s;
}

.nav-container-NX{
    width: 85px;
}

.nav-upper,
.nav-heading,
.nav-menu,
.menu-item,
.nav-footer {
    display: grid;
}

.nav-heading{
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height: 75px;
}

.nav-brand{
    display: flex;
    color: var(--light);
    margin: 20px;
}

.nav-brand img{
    // width: 40px;
    padding: 2px 10px;
}

.hamburger {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin: auto -35px;
    background-color: var(--gray);
    border: 2px solid var(--light);
    padding: 20px;
    border-radius: 50%;
    height: 71px;
    width: 74px;
}

.hamburger span {
	display: block;
	margin-top: 5px;
	background-color: var(--light);
	border-radius: 15px;
	height: 4px;
	width: 30px;
	transition: 0.4s;
}

.hamburger-in:hover span:nth-child(1) {
	width: 25px;
    transform: translate(-3px, 10px) rotate(30deg);
}
.hamburger-in:hover span:nth-child(2) {
	display: none;
}
.hamburger-in:hover span:nth-child(3) {
	width: 25px;
    transform: translate(-3px, -9px) rotate(-30deg);
}


.hamburger-out:hover span:nth-child(1) {
	width: 25px;
    transform: translate(0px, 10px) rotate(-30deg);
}
.hamburger-out:hover span:nth-child(2) {
	display: none;
}
.hamburger-out:hover span:nth-child(3) {
	width: 25px;
    transform: translate(0px, -9px) rotate(30deg);
}


.nav-menu{
    grid-template-rows: repeat(10, 1fr);
    margin-top: 50px;
}

.menu-item{
    height: 57px;
    width: 16em;
    display: flex;
    align-items: center;
    color: var(--light);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    margin: auto 20px;
    border-radius: 10px;
    position: relative;
}

.menu-item:hover{
    background-color: var(--gray);
    color: var(--dark);
}

.menu-item span{
    padding: 0 20px;
}

.menu-item p{
    padding: 0 20px;
    margin: 0;
}

.menu-item-NX{
    margin: auto;
    width: 4em;
    justify-content: center;
}

.nav-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-template-columns: 2fr 1fr;
    background-color: var(--dark);
    
}

.nav-details{
    display: flex;
    margin: 20px;
}

.nav-detail img{
    width: 50px;
    padding: 0 20px;
}

.nav-footer-user-name{
    font-size: 18px;
    font-weight: 900;
}

.nav-footer-user-position{
    margin-top: -15px;
    color: var(--gray);
}

